/* Classes
-------------------------------------------------------------- */

ul.inline {
    list-style-type:none;
    padding-left:0;
}

ul.inline li {
    display:inline;
    float:left;
    padding:0;
}

dl.section-list dt {
    float: left;
    line-height: 2.25em;
    margin-left: 1.75em;
    padding: 0;
    top: 1px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	dl.section-list dt {
    line-height: 1.875em;
	}
}

dl.section-list dt a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

dl.section-list dt a:hover, dl.section-list dt.selected a {
    color: #655049;
}

dl.section-list dt.selected a {
    border-bottom: 3px solid;
    padding-bottom: 4px;
    z-index: 1;
}

dl.section-list dd {
    border-top: 1px solid #D9D3D1;
    clear: left;
    padding-top: 0.5em;
    padding-left: 1.75em;
    margin-bottom: 1.125em;
}

dl.section-list dd.selected {
    display: block;
}

.alignleft {
    float:left;
}

.alignright {
    float:right;
}

.aligncenter {
    float:none;
    margin: 0 auto;
}

.alignnone {
    float:none;
}

.clear-both {
    clear: both
}

.clear-left {
    clear: left
}

.clear-right {
    clear: right
}

.img-txt {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em;
    line-height: 1em;
    outline: none;
}

.more-link {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.16em;
    text-decoration: none;
    text-transform: uppercase;
}

.hide {
    display: none;
}


/* GLOBAL GENERAL
-------------------------------------------------------------- */

body {
    background: url("assets/BG-body.gif") repeat-y scroll center top #EEEEEE;
    text-align: left;
}

.wrapper {
    margin: 0 auto;
    min-height: 100%;
    min-width:1026px;
    max-width:1200px;
    overflow: auto;
    width: 100%;
}


/* HEADER
-------------------------------------------------------------- */

header {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid black;
    display: block;
    height: 6em;
}

#logo {
    color: black;
    display: block;
    font-size: 1.75em;
    line-height: 1em;
    margin: 0 auto;
    min-width: 140px;
    padding: 0.3em 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 0.6em;
    vertical-align: middle;
    width: 21.7%;
}

nav {
    bottom: -1px;
    display: block;
    padding-left: 1.25%;
    position: absolute;
    width: 98.75%;
}

nav ul {
    margin: 0 auto;
    text-align: center;
    min-width: 269px;
}

nav ul li {
    border-top:1px solid black;
    border-left:1px solid black;
}

nav ul li a {
    background:#eeeeee none repeat scroll 0 0;
    border-bottom:1px solid black;
    float:left;
    padding:0.5em 1em 0.5em;
}

nav ul li a:hover {
    background: white;
}

nav ul #current-tab {
    background: white;
    border-bottom:1px solid white;
}

nav ul li:last-child {
    border-right:1px solid black;
}


/* CONTENT
-------------------------------------------------------------- */

.content {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    margin: 0 0 3em;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

.main {
    float: left;
    margin-left: 1.25%;
    padding-bottom: 2em;
    width: 73.125%;
}

.main.full {
    margin-right: 1.25%;
    width: 97.5%;
}

.genbox {
    float:left;
}

.main .genbox {
    margin-left: 1.709402%;
    margin-right: 1.709402%;
}

.main.full .genbox {
    margin: 0 1.28205%;
}

.col-full {
    clear:left;
    float: none;
    display:block;
}

.border {
outline:1px solid #999999;
}

.main .border {
    margin: 0.5em 1.7094%;
    padding: 0 1.7094% 1em;
}

.main.full .border {
    padding-left: 1.32864%;
    padding-right: 1.32864%;
}

#bread-crumbs {
    font-size:0.625em;
    overflow:hidden;
    padding-bottom:0.6em;
    padding-top:1.2em;
    text-transform:uppercase;
}

#bread-crumbs ul li {
    margin-right:0.6em;
}

#bread-crumbs ul li:after {
    content: ">";
}

#bread-crumbs ul li:last-child:after {
    content: none;
}

#bread-crumbs ul li a {
    color:black;
    margin-right:0.6em;
}


/* CONTENT: Images & Gallery
-------------------------------------------------------------- */

p > img.alignleft,
iframe.alignleft,
embed.alignleft,
video.alignleft,
canvas.alignleft {
    margin-right: 3.5%;
}

p > img.alignright,
iframe.alignright,
embed.alignright,
video.alignright,
canvas.alignright {
    margin-left: 3.5%;
}

.gallery-item {
    margin-right: 1%;
    margin-top: 1%;
    padding: 1px;
}

.gallery-icon, .thumbnail {
    border: 3px solid #FFFFFF;
    display: block;
    height: 100px;
    outline: 1px solid gray;
    width: 100px;
}

.gallery-item > img,
.thumbnail > img,
.img-centre > img,
.img-centre-w > img,
.img-centre-h > img {
    display: block;
    left: 50%;
    margin: 0;
    max-width: 150%;
    top: 50%;
}

.img-centre-w > img {
    top: auto;
}

.img-centre-h > img {
    left: auto;
}

.img-centre > img,
.img-centre-w > img,
.img-centre-h > img {
}


/* ASIDE
-------------------------------------------------------------- */

aside {
    background: none repeat scroll 0 0 #EEEEEE;
    float: right;
    margin: 1em 2.5% 1em 0;
    padding-bottom: 0.5em;
    width: 21.875%;
}

aside .genbox {
    margin: 0 5.71429%;
}

aside .border {
}


/* FOOTER
-------------------------------------------------------------- */

footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid;
    font-size: 0.75em;
    height: 4em;
    margin: -4em auto 0;
    min-width:1026px;
    max-width:1200px;
    padding: 0;
    width: 100%;
}

footer div {
    margin: 0 2.5%;
    padding-top: 0.66666667em;
}

footer ul {
    display: block;
    margin-left: 0;
    padding-top: 0.66666667em;
}

footer ul li {
    margin-right: 0.66666667em;
}

footer ul li:after {
    content: "|";
}

footer ul li:last-child:after {
    content: none;
}

footer ul li a {
    padding-right: 0.66666667em;
}

footer p {
    float:right;
}
	


/* MOBILE
-------------------------------------------------------------- */

@media screen and (max-width: 592px) {
	.mob-hide {
    display: none;
   }
   
   body {
    -webkit-text-size-adjust: none;
    background: url("assets/BG-mob-body.gif") repeat-y scroll center top #EEEEEE;
	}

	.wrapper, footer {
    min-width: 320px;
    max-width: 480px;
	}
	
	.main, aside, .main.full {
    margin-left: 3.5%;
    margin-right: 3.5%;
    width: 93%;
	}
	
	.main {
    padding-bottom: 1em;
	}
	
	.main.full {
    padding-bottom: 0.5em;
	}
	
	.main .genbox, aside .genbox, .main.full .genbox {
    margin-left: 3.76344%;
    margin-right: 3.76344%;
	}
	
	.main .border, .main.full .border {
    padding-left: 3.76344%;
    padding-right: 3.76344%;
	}
	
	aside {
    clear: both;
    float: none;
	}
	
	form {
    margin-bottom: 1em;
	}
	
	label {
    min-width: 31%;
	}
	
	label.for-boxes {
    padding-right: 1%;
	}
	
	input[type="text"] {
    width: 64%;
	}
	
	textarea {
    width: 64% !important;
	}
	
	select {
    width: 67%;
	}
	
	.multiple label + span, .file-row label + span {
    width: 64.5%;
	}
	
	.multiple input[type="text"] {
    width: 84%;
	}
	
	.multiple label + span a.img-txt {
    width: 10.5%;
	}
	
	input.fake-file {
    width: 53%;
	}
	
	.file-row .btn {
    right: -1px;
    width: 42%;
	}
	
	footer div {
    margin: 0 7%;
	}
}


/* SMALL
-------------------------------------------------------------- */

@media screen and (min-width: 593px) and (max-width: 849px) {
	.small-hide {
    display: none;
   }
   
   body {
    background: url("assets/BG-small-body.gif") repeat-y scroll center top #EEEEEE;
	}
	
	.wrapper, footer {
    min-width: 593px;
    max-width: 768px;
	}
	
	.main {
    margin-left: 2%;
    margin-right: 2%;
    width: 64%;
	}
		
	.main.full {
    margin-right: 0;
    width: 96%;
	}
	
	.main .genbox {
    margin-left: 3.125%;
    margin-right: 3.125%;
	}
	
	.main .border {
    padding-left: 3.125%;
    padding-right: 3.125%;
	}
	
	.main.full .genbox {
    margin-left: 2.0833333%;
    margin-right: 2.0833333%;
	}
	
	.main.full .border {
    padding-left: 2.0833333%;
    padding-right: 2.0833333%;
	}
	
	aside {
    margin-right: 4%;
    width: 28%;
	}
	
	
	aside .genbox {
    margin-left: 7.14286%;
    margin-right: 7.14286%;
	}
	
	label {
    min-width: 24.5%;
	}
	
	label.for-boxes {
    padding-right: 1%;
	}
	
	input[type="text"] {
    width: 70.2%;
	}
	
	textarea {
    width: 70.2% !important;
	}
	
	select {
    width: 73%;
	}
	
	.multiple label + span, .file-row label + span {
    width: 71.2%;
	}
	
	.multiple input[type="text"] {
    width: 88%;
	}
	
	.multiple label + span a.img-txt {
    width: 9%;
	}
	
	input.fake-file {
    width: 57%;
	}
	
	.file-row .btn {
    right: 0;
    width: 38%;
	}
	
	footer div {
    margin: 0 4%;
	}
}


/* MEDIUM
-------------------------------------------------------------- */

@media screen and (min-width: 850px) and (max-width: 1025px) {
	.med-hide {
    display: none;
   }
   
   .wrapper, footer {
    min-width: 850px;
    max-width: 1025px;
	}
	
	.main {
    margin-left: 1.4%;
    margin-right: 1.4%;
    width: 64.8%;
	}
	
	.main.full {
    margin-right: 0%;
    width: 97.2%;
	}
	
	.main .genbox {
    margin-left: 2.1605%;
    margin-right: 2.1605%;
	}
	
	.main .border {
    padding-left: 2.16049%;
    padding-right: 2.16049%;
	}
	
	.main.full .genbox {
    margin-left: 1.44033%;
    margin-right: 1.44033%;
	}
	
	.main.full .border {
    padding-left: 1.4403292%;
    padding-right: 1.4403292%;
	}
	
	aside {
    margin-right: 2.8%;
    width: 29.6%;
	}
	
	aside .genbox {
    margin-left: 4.72973%;
    margin-right: 4.72973%;
	}
	
	label {
    min-width: 20.9%;
	}
	
	label.for-boxes {
    padding-right: 1%;
	}
	
	input[type="text"] {
    width: 74%;
	}
	
	textarea {
    width: 74% !important;
	}
	
	select {
    width: 77%;
	}
	
	.multiple label + span, .file-row label + span {
    width: 75%;
	}
	
	.multiple input[type="text"] {
    width: 90%;
	}
	
	.multiple label + span a.img-txt {
    width: 6.5%;
	}
	
	input.fake-file {
    width: 67%;
	}
	
	.file-row .btn {
    right: -1px;
    width: 29.5%;
	}
	
	footer div {
    margin: 0 2.8%;
	}
}

