/* IE TYPOGRAPHY
-------------------------------------------------------------- */

html.wf-loading h1, html.wf-loading h2, html.wf-loading h3, html.wf-loading h4, html.wf-loading p, html.wf-loading li, html.wf-loading dt, html.wf-loading dd, html.wf-loading blockquote, html.wf-loading a, html.wf-loading span, html.wf-loading label, html.wf-loading td, html.wf-loading th, html.wf-loading input, html.wf-loading select, html.wf-loading textarea, html.wf-loading small {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}

.header, .nav, .aside, .footer {border:0 none;margin:0;padding:0;vertical-align:baseline;}

.header, .footer {position: relative;}

.aside, .footer, .footer div, .footer ul {overflow: hidden;}


/* IE GLOBAL: HEADER
-------------------------------------------------------------- */

.header {
height:111px;
border-bottom:1px solid black;
display:block;
}

.nav {
bottom: -1px;
display: block;
height: 40px;
position: absolute;
width: 100%;
}

.nav ul {
margin: 0 auto;
text-align: center;
width: 269px;
}

.nav ul li {
border-top:1px solid black;
border-left:1px solid black;
}

.nav ul li a {
background:#eeeeee none repeat scroll 0 0;
border-bottom:1px solid black;
float:left;
padding:9px 18px 8px;
}

.nav ul li a:hover {
background: white;
}

.nav ul #current-tab {
background: white;
border-bottom:1px solid white;
}


/* IE GLOBAL: ASIDE
-------------------------------------------------------------- */

.aside {
background: none repeat scroll 0 0 #EEEEEE;
float: right;
margin: 14px 2.5% 14px 0;
padding-bottom: 7px;
width: 21.875%;
}

.aside .genbox {
margin: 0 5.71429%;
}


/* IE GLOBAL: FOOTER
-------------------------------------------------------------- */

.footer {
background: none repeat scroll 0 0 #FFFFFF;
border-top: 1px solid;
font-size: 12px;
height: 48px;
margin: -49px auto 0;
max-width: 1200px;
min-width: 1026px;
padding: 0;
width: 100%;
}

.footer div {
margin: 0 2.5%;
padding-top: 7px;
}

.footer ul {
display: block;
margin-left: 0;
padding-top: 7px;
}

.footer ul li {
margin-right: 7px;
}

.footer ul li:after {
content: "|";
}

.footer ul li a {
padding-right: 7px;
}

.footer p {
float:right;
}


/* IE GLOBAL: FORMS
-------------------------------------------------------------- */

input[type="checkbox"] {
top: 0px;
}

select {
height: auto;
padding: 2px 2px 2px 0;
top: 1px;
}

/* IE STYLEs
-------------------------------------------------------------- */